.container-fluid {
    margin: 0 !important;
    width: 90%;
}
.btn {
color: lightgreen;
background-color: black;
}

#buttons-view {
    width: 75%;
   
}

button,
    div,
    form,
    input {
        margin: 5px;
    } 

#food-input {
    width: 100%;
    padding: 4px;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#textOnly {
    color: rgb(225, 228, 42);
    font-size: 22px;
    margin-left: 5px;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    align-content: center;
    font-size: 14px;
}

.food-btn,
#add-food {
    font-size: 20px;
}

.foodH {
    float: left;
    margin: 15px;
}
#food-view{
    width: 80%;
    float:left;
}

form {
    float: right;
}

.form-group {
    width: 100%;
}